<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form class="loginsignupform" action="/login" method="POST">
        <input class="loginsignupinput" autocomplete="off" name="username" placeholder="Username"/>
        <input class="loginsignupinput" autocomplete="off" name="password" placeholder="Password" type="password"/>
        <input class="loginsignupbutton" value="Login" type="submit" />
    </form>
</body>
</html>